/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Redacted";
  src: url("../../type/redacted/redacted-regular.eot");
  src: url("../../type/redacted/redacted-regular.woff") format("woff"), url("../../type/redacted/redacted-regular.otf") format("opentype"), url("../../type/redacted/redacted-regular.svg#filename") format("svg");
}

@font-face {
  font-family: "RedactedScript";
  src: url("../../type/redacted/redacted-script-regular.eot");
  src: url("../../type/redacted/redacted-script-regular.woff") format("woff"), url("../../type/redacted/redacted-script-regular.otf") format("opentype"), url("../../type/redacted/redacted-script-regular.svg#filename") format("svg");
}

@font-face {
  font-family: "RedactedScriptBold";
  src: url("../../type/redacted/redacted-script-bold.eot");
  src: url("../../type/redacted/redacted-script-bold.woff") format("woff"), url("../../type/redacted/redacted-script-bold.otf") format("opentype"), url("../../type/redacted/redacted-script-bold.svg#filename") format("svg");
}

@font-face {
  font-family: "RedactedScriptLight";
  src: url("../../type/redacted/redacted-script-light.eot");
  src: url("../../type/redacted/redacted-script-light.woff") format("woff"), url("../../type/redacted/redacted-script-light.otf") format("opentype"), url("../../type/redacted/redacted-script-light.svg#filename") format("svg");
}

/* line 10, ../scss/_typography.scss */
body {
  font-family: BebasNeueRegular, arial, sans-serif;
  color: #222222;
  font-size: 16px;
}

/* line 18, ../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #222222;
  font-family: BebasNeueRegular, arial, sans-serif;
  margin: 1em 0;
}

/* line 25, ../scss/_typography.scss */
p {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 32, ../scss/_typography.scss */
h1 {
  font-size: 2em;
  line-height: 1.1em;
}

/* line 36, ../scss/_typography.scss */
h2 {
  font-size: 1.5em;
  line-height: 1.1em;
}

/* line 40, ../scss/_typography.scss */
h3 {
  font-size: 1.3em;
  line-height: 1em;
}

/* line 44, ../scss/_typography.scss */
.redacted {
  font-family: RedactedScriptLight;
}

/* line 1, ../scss/_common.scss */
body {
  margin: 0;
  padding: 0;
  background: white;
}

/* line 8, ../scss/_common.scss */
.header {
  width: 1200px;
  margin: 1em auto;
  height: 75px;
}

/* line 14, ../scss/_common.scss */
#content, #footer {
  width: 400px;
  margin: 0 auto;
}

/* line 19, ../scss/_common.scss */
[data-url] {
  cursor: pointer;
}

/* line 1, ../scss/_menu.scss */
ul.menu {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 48px;
}
/* line 8, ../scss/_menu.scss */
ul.menu li {
  float: left;
  display: block;
  line-height: 20px;
  font: normal 16px BebasNeueRegular, arial, sans-serif;
  margin-left: 20px;
}
/* line 16, ../scss/_menu.scss */
ul.menu a {
  text-decoration: none;
  color: #222222;
}
/* line 20, ../scss/_menu.scss */
ul.menu a:hover {
  text-decoration: underline;
  color: #555555;
}

/* line 1, ../scss/_home.scss */
.contact {
  clear: both;
  list-style: none;
  float: left;
  width: 100%;
  padding: 0;
  margin: 0 0 10px 0;
}
/* line 9, ../scss/_home.scss */
.contact li {
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
  margin-right: 10px;
}
/* line 18, ../scss/_home.scss */
.contact li img {
  width: 12px;
  height: 12px;
}

/* line 3, ../scss/_carosel.scss */
.slider {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
/* line 8, ../scss/_carosel.scss */
.slider ul {
  position: relative;
  width: 1200px;
  height: 801px;
}
/* line 13, ../scss/_carosel.scss */
.slider li {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* line 5, ../scss/_collections.scss */
.collections > ul {
  padding: 0;
  list-style: none;
}
/* line 10, ../scss/_collections.scss */
.collections div.banner {
  height: 100px;
  background-image: url(http://placehold.it/1200x100);
  position: relative;
}
/* line 15, ../scss/_collections.scss */
.collections div.banner h1 {
  position: absolute;
  bottom: 0px;
  margin: 0 20px;
}
/* line 22, ../scss/_collections.scss */
.collections .banner.banner-se {
  background-image: url(/images/collections/se/banner.jpg);
}
/* line 25, ../scss/_collections.scss */
.collections .banner.banner-se h1, .collections .banner.banner-se h2 {
  color: white;
}
/* line 29, ../scss/_collections.scss */
.collections .banner.banner-breakout {
  background-image: url(/images/collections/breakout/banner.jpg);
}
/* line 32, ../scss/_collections.scss */
.collections .banner.banner-breakout h1, .collections .banner.banner-breakout h2 {
  color: white;
}
/* line 37, ../scss/_collections.scss */
.collections .banner.banner-inspiration {
  background-image: url(/images/collections/inspiration/banner.jpg);
}
/* line 40, ../scss/_collections.scss */
.collections .banner.banner-inspiration h1, .collections .banner.banner-inspiration h2 {
  color: white;
}
/* line 45, ../scss/_collections.scss */
.collections .banner.banner-retro {
  background-image: url(/images/collections/retro/banner.jpg);
}
/* line 48, ../scss/_collections.scss */
.collections .banner.banner-retro h1, .collections .banner.banner-retro h2 {
  color: white;
}
/* line 54, ../scss/_collections.scss */
.collections .banner.banner-bright-lights {
  background-image: url(/images/collections/bright-lights/banner.jpg);
}
/* line 57, ../scss/_collections.scss */
.collections .banner.banner-bright-lights h1, .collections .banner.banner-bright-lights h2 {
  color: #222222;
}
/* line 62, ../scss/_collections.scss */
.collections .banner.banner-birds {
  background-image: url(/images/collections/birds/banner.jpg);
}
/* line 65, ../scss/_collections.scss */
.collections .banner.banner-birds h1, .collections .banner.banner-birds h2 {
  color: white;
}
/* line 70, ../scss/_collections.scss */
.collections .keyimage {
  width: 650px;
  margin-top: 20px;
}
/* line 74, ../scss/_collections.scss */
.collections .keyimage .authors {
  margin: 1em 0;
  text-align: right;
}
/* line 84, ../scss/_collections.scss */
.collections .video {
  width: 650px;
  margin-top: 20px;
}
/* line 88, ../scss/_collections.scss */
.collections .video .authors {
  margin: 1em 0;
  text-align: right;
}
/* line 98, ../scss/_collections.scss */
.collections .story {
  float: right;
  width: 400px;
  margin-top: 20px;
}
/* line 105, ../scss/_collections.scss */
.collections .gallery .authors {
  clear: both;
}
/* line 109, ../scss/_collections.scss */
.collections .gallery ul {
  clear: both;
  padding: 0;
  list-style: none;
}
/* line 115, ../scss/_collections.scss */
.collections .gallery li {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* line 4, ../scss/_about.scss */
.about .company img {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
/* line 11, ../scss/_about.scss */
.about li {
  float: left;
  width: 389px;
}
/* line 16, ../scss/_about.scss */
.about .jdharper, .about .drusellers {
  margin-right: 1em;
}
