
<div class="content">

  <img class="logo" src="/images/tengagelogo.png" />
  <h1>Ten Gage Productions</h1>

  <p>type cool little story about yourself here</p>

  <ul class="contact">
    <li>
      <img src="/images/vimeo.png" />
      <a href="https://vimeo.com/tengageproductions">vimeo</a>
    </li>
    <li>
      <img src="/images/email.png" />
      <a href="#">email</a>
    </li>
  </ul>

  <p class="legal">Copyright statements and such</p>
</div>
