
<h1>Ten Gage Productions</h1>

<img src="/images/tengagelogo_small.jpg" />
<p>type cool little story about yourself here</p>

<ul class="contact">
  <li>Phone</li>
  <li>Tumblr</li>
  <li>vimeo</li>
  <li>email</li>
</ul>


<p>footer</p>
