<html>
  <head>
    <title>TenGage Productions</title>
    <script type="text/javascript" src="/scripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/scripts/require.js"></script>
    <script type="text/javascript" src="/scripts/module-loader.js"></script>

    <link href="/styles/css/tengage.css" rel="stylesheet" />

    <link rel="icon" type="image/x-icon" href="/favicon.png" />
  </head>
  <body>

    <div id="container">
      <%= yield %>
    </div>
  </body>
  </html>
