.about {

  .company {
    img {
      float:left;
      margin-right:1em;
      margin-bottom:1em;
    }
  }

  li {
    float:left;
    width:389px;
  }

  .jdharper, .drusellers {
    margin-right:1em;
  }
}
