@font-face {
  font-family: "Redacted";
  src: url("../../type/redacted/redacted-regular.eot");
  src: url("../../type/redacted/redacted-regular.woff") format("woff"),
       url("../../type/redacted/redacted-regular.otf") format("opentype"),
       url("../../type/redacted/redacted-regular.svg#filename") format("svg");
}
@font-face {
  font-family: "RedactedScript";
  src: url("../../type/redacted/redacted-script-regular.eot");
  src: url("../../type/redacted/redacted-script-regular.woff") format("woff"),
       url("../../type/redacted/redacted-script-regular.otf") format("opentype"),
       url("../../type/redacted/redacted-script-regular.svg#filename") format("svg");
}

@font-face {
  font-family: "RedactedScriptBold";
  src: url("../../type/redacted/redacted-script-bold.eot");
  src: url("../../type/redacted/redacted-script-bold.woff") format("woff"),
       url("../../type/redacted/redacted-script-bold.otf") format("opentype"),
       url("../../type/redacted/redacted-script-bold.svg#filename") format("svg");
}

@font-face {
  font-family: "RedactedScriptLight";
  src: url("../../type/redacted/redacted-script-light.eot");
  src: url("../../type/redacted/redacted-script-light.woff") format("woff"),
       url("../../type/redacted/redacted-script-light.otf") format("opentype"),
       url("../../type/redacted/redacted-script-light.svg#filename") format("svg");
}
