.contact {
    clear:both;
    list-style: none;
    float:left;
    width:100%;
    padding:0;
    margin:0 0 10px 0;

    li {
      float:left;

      padding:0;
      margin:0;

      position: relative;
      margin-right:10px;
    }
}
