<html>
  <head>
    <title>V23 Athletics</title>
    <script type="text/javascript" src="/scripts/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/scripts/require.js"></script>
    <script type="text/javascript" src="/scripts/module-loader.js"></script>

    <link href="/styles/css/v23athletics.css" rel="stylesheet" />


    <link rel="icon" type="image/x-icon" href="/favicon.png" />
  </head>
  <body>
    <div id="content">
      <!-- All rendered content place here-->
    </div>
  </body>
  </html>
